body,
			html {
				height: 100%;
				font-family: "微软雅黑";
				background-color: #FFFFFF
			}
			
			.mui-content {
				background-color: #FFFFFF
			}
			
			ul {
				padding: 0;
				margin: 0;
			}
			
			li {
				width: 100%;
				box-sizing: border-box;
				padding: 7.5px 16.5px;
				list-style: none;
				height: 86px;
			}
			
			li:after {
				content: "";
				display: block;
				clear: both;
			}
			
			h1 {
				font-size: 14px;
				color: #6c6c6c;
				font-weight: 400;
			}
			
			li>img {
				height: 100%;
				float: left;
				display: block;
				margin-right: 10px;
			}
			.mui-slider .mui-slider-group .mui-slider-item img{
				width: auto;
			}
			.title {
				padding: 5px 0;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-box-pack: justify;
				box-sizing: border-box;
				float: left;
				height: 100%;
				width: calc(100% - 140px);
			}
			
			.title p {
				font-size: 11px;
				color: #E93F32;
				margin-bottom: 0;
			}
			
			.title p span {
				margin-right: 5px;
			}
			
			.check {
				display: block;
			}